@import url("./variables.css");

.dzr-title {
    font-family: var(--font-noto-sans);
    font-weight: var(--font-bold);

    font-size: 48px;
    line-height: 1.25;
}

.dzr-subtitle-1 {
    font-family: var(--font-noto-sans);
    font-weight: var(--font-bold);

    font-size: 16px;
    line-height: 1.5;
}

.dzr-subtitle-2 {
    font-family: var(--font-noto-sans);
    font-weight: var(--font-bold);

    font-size: 14px;
    line-height: 1.5;
}

.dzr-body-1 {
    font-family: var(--font-noto-sans);
    font-weight: var(--font-regular);

    font-size: 16px;
    line-height: 1.5;
}

.dzr-body-2 {
    font-family: var(--font-noto-sans);
    font-weight: var(--font-regular);

    font-size: 14px;
    line-height: 1.5;
}

.dzr-overline {
    font-family: var(--font-noto-sans);
    font-weight: var(--font-regular);

    font-size: 12px;
    line-height: 1.5;
}