:root {
    /* Colors */
    --gray-100: #F3F4F6;
    --gray-200: #E5E7EB;
    --gray-400: #9CA3AF;

    /* Sizes */
    --size-sm: 40px;
    --size-md: 80px;

    --img-cover: 250px;
  
    /* Spaces */
    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 32px;
    --space-xl: 48px;
    --space-xxl: 86px;

    /* Font families */
    --font-noto-sans: 'Noto Sans', sans-serif;

    /* Font weights */
    --font-regular: 400;
    --font-bold: 700;
}

  
  