@import url("./design-system/typography.css");
@import url("./design-system/variables.css");

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Noto Sans';
}

p {
  margin: 0;
}



ol, ul {
	list-style: none;
  padding-left: var(--space-sm);
}

li:not(:last-child) {
  margin-bottom: var(--space-md);
}

body {
  display: grid;
  grid-template: 
            "main   queue" 1fr
            "player player" 80px
            / 1fr 330px;
  overflow-y: hidden;
}


/* Start of personailzed css */
#player {
  grid-area: player;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;
  border-top: 1px solid #E5E7EB;
}

#queue {
  grid-area: queue;
  position: relative;

  background-color: var(--gray-100);
  border-left: 1px solid var(--gray-200);
}

main {
  grid-area: main;

  margin-left: var(--space-xxl);

  overflow-y: scroll;
}

.player-cover {
  height: 100%;
  width: auto;
}

.player-info {
  display: flex;
  gap: 16px;
  align-items: center;
  height: 80px;
}

.player-controls {
  display: flex;
  gap: var(--space-md);
  justify-content: center;
}

.player-controls > img {
  width: var(--size-sm);
  height: var(--size-sm);
}


.spacer {
  width: 100%;
  flex-grow: 1;
}

.player-branding {
  display: flex;

  flex-direction: column;
  align-items: end;
}

.player-branding-inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.left {
  display: flex;

  height: 100%;
}

.branding-wrapper {
  height: 100%;
}

.branding-logo {
  height: var(--space-md);
  width: auto;
}

.overlay-empty {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--gray-400);
}

#playlist-info {
  display: flex;
  flex-direction: row;
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-xl);
}

#playlist-info h1 {
  margin: var(--space-xs) 0;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin-left: var(--space-md);
}

#playlist-info > img {
  width: 250px;
  height: 250px;
}

.queue-description {
  margin-left: var(--space-md);
  margin-top: var(--space-md);
}

.player-controls-layout {
  display: flex;
  height: 100%;
  width: 100%;

  z-index: -1000;

  position: absolute;
  left: 0;
  top: 0;
}